input {
  border-radius: 4px !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #e1e1e1;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

a[data-css="sidebar-logo"] {
  padding: 20px 0 10px 0;
}
